In [1]:
import numpy as np
import pandas as pd

In [ ]:
dictionary = {"Col1":[1,2,3, np.nan],
              "Col2":[4,np.nan,6,7],
              "Col3":["a","b","c", None],}
# Creamos un dictionario con valores nulos o incorrectos para simular ambiente real

In [6]:
df = pd.DataFrame(dictionary)

In [7]:
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [ ]:
df.isnull()
# Lista los valores de un arreglo e indica false para valores normales y True cuando encuentro algun valor nulo

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [ ]:
df.fillna("Missing_Value")
# Podemos sustituir el valor de un valor nulo con algun comodin para poder manipularlo.

             Col1            Col2            Col3
0             1.0             4.0               a
1             2.0  Missing_Value!               b
2             3.0             6.0               c
3  Missing_Value!             7.0  Missing_Value!

In [ ]:
df.select_dtypes(include="number").interpolate()
# Podemos aplicar .interpolate junto con un filtro especifico para hacer mas acertada nuestra edicion.

   Col1  Col2
0   1.0   4.0
1   2.0   5.0
2   3.0   6.0
3   3.0   7.0

In [ ]:
df[df.select_dtypes(include="number").columns] 
# Es posible filtrar por medio del tipo de dato que este dataframe contiene.

   Col1  Col2
0   1.0   4.0
1   2.0   NaN
2   3.0   6.0
3   NaN   7.0

In [ ]:
df.dropna()
# Con esta opcion borramos los datos null del dataset, no es conveniente si existen muchos valores con esta caracteristica

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c